name: Security Scanner
on:
  push:
    branches:
      - main
      - develop 
  pull_request:
    branches:
      - main

jobs:
  security-scan:
    uses: 77Negativo/core-action-sec/.github/workflows/simples-scan.yml@main
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
